.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/images/heros/hero-image_4-large.jpg');
    background-position: bottom center;
    width: 100%;
    height: 100vh;

    .hero__inner {
        border-radius: 10px;
        box-shadow: 0 3px 25px white;
        background-color: black;
        color: white;
        text-align: center;

    }

    .hero__title {
        padding: 10px;
    }

    .hero__tagline {
        padding: 10px;
        font-size: large;
    }
}


@media screen and (max-width: 600px) {
    .hero {
        background-image: url('/images/heros/hero-image_4-small.jpg');

    }
}